body {
    font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif
}

#logo {
    max-width: 105px;
}

.card {
    padding: 1rem;
    max-width: 400px;
}

section {
    padding: 2rem;
}

#signup_img {
    max-width: 50rem;
}

footer {
    background-color: #f8f9fa;
}